.card{
  background-color: var(--bg-color-card);
  justify-content: space-between;
  padding: .5em;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.card header{
  -webkit-flex: 1 100%;
  -moz-flex: 1 100%;
  -ms-flex: 1 100%;
  -o-flex: 1 100%;
  flex: 1 100%;
  margin: .5em;
  font-size: var(--font-size-header-card);
  color: var(--font-color-header-card);
}
.card section,
.card article,
.card aside,
.card main{margin: .5em;}
/* Complementos de Cards */
.first-full section:first-child,
.first-full article:first-child,
.first-full aside:first-child,
.first-full main:first-child{
  -webkit-flex: 1 100%;
  -moz-flex: 1 100%;
  -ms-flex: 1 100%;
  -o-flex: 1 100%;
  flex: 1 100%;
}
.duo-first section:nth-child(-n+2),
.duo-first article:nth-child(-n+2),
.duo-first aside:nth-child(-n+2),
.duo-first main:nth-child(-n+2){
  -webkit-flex: 1 100%;
  -moz-flex: 1 100%;
  -ms-flex: 1 100%;
  -o-flex: 1 100%;
  flex: 1 100%;
}