:root{
	/*
		### Reset
	*/
	--font-family-default: sans-serif;
	/*
		### Limit
	*/
	--limit-content: 1000px;
	/* 
		### Cards
	*/
	--bg-color-card: rgba(255,255,255,1);
	/*--font-size-header-card:;*/
	/*--font-color-header-card:;*/
}